html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#suggestions {
  width: 1440px;
  height: 1325px;
  background: #F7F8FD;
}

#suggestions .feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  background-color: #F7F8FD;
}

#suggestions .feedback .feedback-item {
  margin-right: 50px;
  width: 255px;
  height: 529px;
}

#suggestions .feedback .feedback-item .feedback-item-head {
  width: 255px;
  height: 137px;
  background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
  border-radius: 10px;
  text-align: left;
  padding-top: 62px;
}

#suggestions .feedback .feedback-item .feedback-item-head h2 {
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.25px;
}

#suggestions .feedback .feedback-item .feedback-item-head p {
  font-family: 'Jost', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

#suggestions .feedback .feedback-item .feedback-item-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 255px;
  height: 166px;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-top: 10px;
  text-align: left;
}

#suggestions .feedback .feedback-item .feedback-item-type div {
  margin-bottom: 10px;
  padding: 20px 0px 0px 20px;
}

#suggestions .feedback .feedback-item .feedback-item-type .btn-1 {
  width: 48px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 10px;
  color: #4661E6;
  background-color: #F2F4FF;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 13px;
}

#suggestions .feedback .feedback-item .feedback-item-type .btn-2 {
  width: 48px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 10px;
  color: #4661E6;
  background-color: #F2F4FF;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 13px;
  width: 111px;
  height: 30px;
  padding: 5px 15px;
}

#suggestions .feedback .feedback-item .feedback-item-type .btn-3 {
  width: 48px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 10px;
  color: #4661E6;
  background-color: #F2F4FF;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 13px;
  width: 77px;
  height: 30px;
  padding: 5px 10px;
}

#suggestions .feedback .feedback-item .feedback-item-report {
  width: 220px;
  height: 178px;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  padding: 20px 20px 0px 15px;
}

#suggestions .feedback .feedback-item .feedback-item-report div h3 {
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.25px;
  color: #3A4374;
  margin-bottom: 20px;
}

#suggestions .feedback .feedback-item .feedback-item-report div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#suggestions .feedback .feedback-item .feedback-item-report div div .icon-pink {
  color: #F49F85;
  margin: 5px 10px 0px 0px;
  font-size: 10px;
}

#suggestions .feedback .feedback-item .feedback-item-report div div .icon-violet {
  color: #AD1FEA;
  margin: 5px 10px 0px 0px;
  font-size: 10px;
}

#suggestions .feedback .feedback-item .feedback-item-report div div .icon-blue {
  color: #62BCFA;
  margin: 5px 10px 0px 0px;
  font-size: 10px;
}

#suggestions .feedback .feedback-item .feedback-item-report div div p {
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #647196;
}

#suggestions .feedback .feedback-item .feedback-item-report div a {
  text-decoration: none;
  font-size: 13px;
}

#suggestions .feedback .feedback-info .nav-info {
  width: 825px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #3A4374;
  border-radius: 10px;
}

#suggestions .feedback .feedback-info .nav-info .nav-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto 20px;
}

#suggestions .feedback .feedback-info .nav-info .nav-info-item i {
  color: #F7F8FD;
  margin-right: 20px;
}

#suggestions .feedback .feedback-info .nav-info .nav-info-item h3 {
  color: #F7F8FD;
  margin-right: 20px;
}

#suggestions .feedback .feedback-info .nav-info .nav-info-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 3px;
}

#suggestions .feedback .feedback-info .nav-info .nav-info-item div a {
  text-decoration: none;
  color: #F7F8FD;
  font-size: 13px;
  margin-right: 5px;
}

#suggestions .feedback .feedback-info .nav-info .nav-info-item div i {
  font-size: 10px;
  margin-top: 3px;
}

#suggestions .feedback .feedback-info .nav-info button {
  width: 158px;
  height: 44px;
  padding: 10px 30px;
  color: #F7F8FD;
  background-color: #AD1FEA;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

#suggestions .feedback .feedback-info .feedback-info-groups .feedback-info-group {
  width: 825px;
  height: 151px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  border-radius: 10px;
  background: #FFFFFF;
  padding: 40px 20px 0px 20px;
}

#suggestions .feedback .feedback-info .feedback-info-groups .feedback-info-group .group-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#suggestions .feedback .feedback-info .feedback-info-groups .feedback-info-group .group-info .group-info-int {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 40px;
  width: 40px;
  height: 53px;
  background: #F2F4FE;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
}

#suggestions .feedback .feedback-info .feedback-info-groups .feedback-info-group .group-info .group-info-int i {
  font-size: 10px;
  color: #4661E6;
  margin: 5px 5px;
}

#suggestions .feedback .feedback-info .feedback-info-groups .feedback-info-group .group-info .group-info-int i a {
  font-family: 'Jost', sans-serif;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  line-height: 18.79;
  letter-spacing: -0.18;
  text-align: center;
  text-decoration: none;
  color: #3A4374;
}

#suggestions .feedback .feedback-info .feedback-info-groups .feedback-info-group .group-info div h3 {
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.25px;
  color: #3A4374;
  padding-bottom: 10px;
}

#suggestions .feedback .feedback-info .feedback-info-groups .feedback-info-group .group-info div p {
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: #647196;
  padding-bottom: 10px;
}

#suggestions .feedback .feedback-info .feedback-info-groups .feedback-info-group .group-info div .btn-1 {
  width: 48px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 10px;
  color: #4661E6;
  background-color: #F2F4FF;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 13px;
}

#suggestions .feedback .feedback-info .feedback-info-groups .feedback-info-group .group-info div .btn-2 {
  width: 48px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 10px;
  color: #4661E6;
  background-color: #F2F4FF;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 13px;
  width: 111px;
  height: 30px;
  padding: 5px 15px;
}

#suggestions .feedback .feedback-info .feedback-info-groups .feedback-info-group .group-info div .btn-3 {
  width: 48px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 10px;
  color: #4661E6;
  background-color: #F2F4FF;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 13px;
  width: 77px;
  height: 30px;
  padding: 5px 10px;
}

#suggestions .feedback .feedback-info .feedback-info-groups .feedback-info-group .group-icon {
  text-align: center;
}

#suggestions .feedback .feedback-info .feedback-info-groups .feedback-info-group .group-icon i {
  padding-top: 30px;
  width: 18px;
  height: 16px;
  color: #CDD2EE;
}

#suggestions .feedback .feedback-info .feedback-info-groups .feedback-info-group .group-icon span {
  color: #3A4374;
}
