html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#roadmap {
  width: 1440px;
  height: 1368px;
  background: #F7F8FD;
}

#roadmap .roadmap-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  background-color: #F7F8FD;
}

#roadmap .roadmap-container .roadmap-nav {
  width: 825px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #3A4374;
  border-radius: 10px;
}

#roadmap .roadmap-container .roadmap-nav div h3 {
  font-family: " 'Jost', sans-serif";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.25px;
  color: #FFFFFF;
}

#roadmap .roadmap-container .roadmap-nav button {
  width: 158px;
  height: 44px;
  padding: 10px 30px;
  color: #F7F8FD;
  background-color: #AD1FEA;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

#roadmap .roadmap-container .roadmap-main {
  width: 825px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#roadmap .roadmap-container .roadmap-main .header h4 {
  font-family: " 'Jost', sans-serif";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -0.2px;
  color: #3A4374;
}

#roadmap .roadmap-container .roadmap-main .header span {
  font-family: " 'Jost', sans-serif";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #647196;
}

#roadmap .roadmap-container .roadmap-main .roadmap-main-item .item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  width: 350px;
  height: 272px;
  background: #FFFFFF;
  border-radius: 5px;
}

#roadmap .roadmap-container .roadmap-main .roadmap-main-item .item-info .icon-1 {
  width: 8px;
  height: 8px;
  margin-right: 10px;
  color: #F49F85;
}

#roadmap .roadmap-container .roadmap-main .roadmap-main-item .item-info .icon-2 {
  width: 8px;
  height: 8px;
  margin-right: 10px;
  color: #AD1FEA;
}

#roadmap .roadmap-container .roadmap-main .roadmap-main-item .item-info .icon-3 {
  width: 8px;
  height: 8px;
  margin-right: 10px;
  color: #62BCFA;
}

#roadmap .roadmap-container .roadmap-main .roadmap-main-item .item-info span {
  font-family: " 'Jost', sans-serif";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #647196;
}

#roadmap .roadmap-container .roadmap-main .roadmap-main-item .item-info h4 {
  font-family: " 'Jost', sans-serif";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -0.2px;
  color: #3A4374;
}

#roadmap .roadmap-container .roadmap-main .roadmap-main-item .item-info .btn-1 {
  width: 148px;
  height: 30px;
  color: #4661E6;
  border: none;
  border-radius: 10px;
  color: #4661E6;
  background-color: #F2F4FF;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 13px;
}

#roadmap .roadmap-container .roadmap-main .roadmap-main-item .item-info .btn-2 {
  width: 148px;
  height: 30px;
  color: #4661E6;
  border: none;
  border-radius: 10px;
  color: #4661E6;
  background-color: #F2F4FF;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 13px;
  width: 111px;
  height: 30px;
  padding: 5px 15px;
}

#roadmap .roadmap-container .roadmap-main .roadmap-main-item .item-info .btn-3 {
  width: 148px;
  height: 30px;
  color: #4661E6;
  border: none;
  border-radius: 10px;
  color: #4661E6;
  background-color: #F2F4FF;
  text-decoration: none;
  padding: 5px 10px;
  font-size: 13px;
  width: 77px;
  height: 30px;
  padding: 5px 10px;
}

#roadmap .roadmap-container .roadmap-main .roadmap-main-item .item-info div i {
  width: 18px;
  height: 16px;
  color: #CDD2EE;
}
