#element {
  width: 100%;
  height: 100vh;
}

.container {
  width: 1200px;
  height: 600px;
  margin: 200px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  text-align: center;
}

.element_items {
  position: relative;
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 30px 30px;
}

.element_items h1 {
  font-size: 35px;
  color: #333;
  font-weight: 900;
  margin-bottom: 30px;
}

.element_items p {
  font-size: 15px;
  color: #919191;
  font-weight: 100;
  margin-bottom: 30px;
}

.element_items i {
  font-size: 45px;
  color: #24cf5f;
  margin-bottom: 30px;
}

.element_items button {
  width: 150px;
  height: 50px;
  border-radius: 30px;
  border: none;
  color: white;
  margin-left: 80px;
  background-color: #24cf5f;
}

.element_items::before {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  width: 0%;
  height: 0%;
  border-bottom: 2px solid  transparent;
  border-right: 2px solid  transparent;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.element_items:hover::before {
  width: 100%;
  height: 100%;
  border-color: #24cf5f;
}

.element_items::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0%;
  height: 0%;
  border-top: 2px solid  transparent;
  border-left: 2px solid  transparent;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.element_items:hover::after {
  width: 100%;
  height: 100%;
  border-color: #24cf5f;
}
