@mixin h3{
    font-family: $font-family;
    font-size: $font-size-b;
    font-style: $font-normal;
    font-weight: $font-weight-700;
    line-height: 20px;
    letter-spacing: -0.25px;
    color: $white;
}
@mixin h4{
    font-family: $font-family;
    font-size: $font-size-dk;
    font-style: $font-normal;
    font-weight: $font-weight-700;
    line-height: 18.79px;
    letter-spacing: -0.2px;
    color:$softblue;
    margin-top: 10px;
    margin-bottom: 10px;
}
@mixin body1 {
    font-family: $font-family;
    font-size: $font-size-k;
    font-weight: $font-weight-400;
    line-height: 18.79px ;
    color: $white;
    margin-bottom: 10px;
}
@mixin body2 {
    font-family: $font-family;
    font-size:$font-size-o;
    font-weight: $font-weight-400;
    color:$oceannight;
}
@mixin text-int{
    font-family:$font-family ;
    font-size: $font-size;
    font-weight: $font-weight-700;
    font-style: $font-normal;
    letter-spacing: -0.18;
    @include align-center;
    text-decoration: none;
    color: $softblue;
}