#elements{
    width: 100%;
    height: 100vh;
}
.container{
    width: 1200px;
    height: 500px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    border: 1px solid red;
}
.elements-item{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 40px 40px;
    // border: 1px solid #71d1ff;
    outline: 2px solid #033146 ;
    outline-offset: -10px;
    box-shadow: 0 0 0 18px rgb(0 0 0 / 15%) inset;
}
.elements-item h1{
    color: black;
}
.elements-item p{
    color: black;
}
.elements-item i{
    font-size: 45px;
}
.elements-item button{
    color: black;
}
