// layihədə istifadə olunan bütün button classları
// Buttons Start
@mixin btn-1{
    width: 48px;
    height: 30px;
    color: $white;
    border: none;
    border-radius: 10px;
    color: $blue;
    background-color: $ghostwhite;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 13px
}
@mixin btn-2{
    @include btn-1;
    
    width: 111px;
    height: 30px;
    padding: 5px 15px;
}
@mixin btn-3{
    @include btn-1;
    width: 77px;
    height: 30px;
    padding: 5px 10px;
}

// Buttons End
// Button Hover Start
@mixin button1-hover{
    background: #C75AF6;
}
@mixin button2-hover{
    background: #7C91F9;
}
@mixin button3-hover{
    background: #656EA3;
}
// Button Hover End