@import "button";
@import "interactive";

@mixin page{
    @include flex-column;
    @include auto;
    @include just-center;
    padding-top:$padding-6x;
    background-color: $ghostwhite2;
}
@mixin nav-info {
    width: $third-width;
    height: 72px;
    @include flex-row;
    @include between;
    background-color:$softblue;
    border-radius: $radius;
}
@mixin nav-info-item {
    @include flex-row;
    @include between;
    margin:auto $margin-4x;
}
@mixin nav-button {
    width: 158px;
    height: 44px;
    padding: $padding-2x $padding-6x;
    color: $ghostwhite2;
    background-color: $violet;
    margin:$margin-2x;
    border-radius: $radius;
    border: none;
}