// Layihədə istifadə olunacaq bütün interaktiv elementlərin classları
// İnteractive Elements 
@mixin int{
    display: flex;
    flex-direction: row;
    width: 69px;
    height: 40px;
    background: #F2F4FE;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    padding-top:10px;
    padding-left: 20px;
  
}
@mixin int-sort{
    width: 193px;
    height: 72px;
    background: #0c0d13;
    border-radius: 10px;
}
// İnteractive Elements Hover
@mixin int-hover{
    background: #CFD7FF;
}
// İnteractive Elements Active
@mixin int-active{
    display: inline-block;
    width: 48px;
    height: 30px;
    background: #4661E6;
    text-decoration: none;
}
@mixin icon{
    display:inline-block;
    width:5px;
    height:5px; 
    margin-right:10px
}
@mixin icon-1{
    @include icon;
    color:$softpink;
}
@mixin icon-2{
    @include icon;
    color:$violet;
}
@mixin icon-3{
    @include icon;
    color:$mayablue;
}

@mixin border-1{
    border-top: 10px solid $softpink 
}
@mixin border-2{
    border-top: 10px solid $violet;
}
@mixin border-3{
    border-top: 10px solid $mayablue;
}