// // Layihənin eksizini hazırlamaq üçün lazım olan classlar 
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin flex-row {
    display: flex;
    flex-direction: row;
}
@mixin between{
    justify-content: space-between;
}
@mixin align-center {
    text-align:center;
}
@mixin align-left{
    text-align:left;
}
@mixin just-center{
    justify-content: center;
}
