// Layihədə istifadə olunacaq bütün dəyişənlər
$main-width:1440px;
$main-height:1325px;
$secondary-width:255px;
$third-width:825px;
$font-size:13px;
$radius:10px;
$font-size-dk:$font-size+1px;
$font-size-k:$font-size+2px;
$font-size-o:$font-size+3px;
$font-size-b:$font-size+5px;
$font-size-db:$font-size+7px;
$font-size-eb:$font-size+11px;
$font-family:" 'Jost', sans-serif";
$font-normal:normal;
$font-weight-400:400;
$font-weight-600:600;
$font-weight-700:700;
$padding-x:5px;
$padding-2x:$padding-x*2;
$padding-3x:$padding-x*3;
$padding-4x:$padding-x*4;
$padding-5x:$padding-x*5;
$padding-6x:$padding-x*6;
$padding-7x:$padding-x*7;
$padding-8x:$padding-x*8;
$padding-9x:$padding-x*9;
$padding-10x:$padding-x*10;
$padding-16x:$padding-x*16;
$margin-x:5px;
$margin-2x:$margin-x*2;
$margin-3x:$margin-x*3;
$margin-4x:$margin-x*4;
$margin-5x:$margin-x*5;
$margin-6x:$margin-x*6;
$margin-8x:$margin-x*8;
$margin-10x:$margin-x*10;
$margin-16x:$margin-x*16;



