/*general properties */
body{
    font-family:'Poppins', sans-serif;
    font-size: 15px;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.justify_around{
    justify-content: space-around;
}
.justify_between{
    justify-content: space-between;
}
.justify_center{
    justify-content: center;
} 
.border{
    border: none;
}
.distance{
    margin-top: 10px;
}
/* general properties */
/* general color and size start */
:root{
    --pink: #ebb5ac;
    --gray: #bfbfbf;
    --orange:#f34723;
    --wc-secondary: #ebe9eb;
    --wc-primary-text: white;
    --wc-secondary-text: #515151;
    --wc-highligh-text: white;
    --wc-content-bg: #fff;
    --wc-subtext: #767676;
    --black: #000000;
    --space-x: 5px;
    --space-2x: 10px;
    --space-3x: 15px;
    --space-4x: 20px;
    --space-5x: 25px;
    --space-6x: 30px;
    --space-7x: 35px;
    --space-8x: 40px;
    --space-9x: 45px;
    --space-10x: 50px;
    --space-11x: 55px;
    --space-12x: 60px;
}
/* general color and size end */
/* text sytle start */
.product_name{
    color: var(--black);
    font-size: 1em;
    font-weight: 500;
}
.product_name:hover{
    color: var(--pink);
}
.product_value{
    color:var(--wc-secondary-text);
    font-size: 1.2em;
    font-weight: 900;
}
/* text sytle end */
/* button style start*/
.btn{
    background-color: var(--wc-content-bg);
    color: var(--wc-content-bg);
    padding: var(--space-2x) var(--space-4x);
}
.btn:hover{
    background-color:var(--black) !important;
    color: var(--wc-content-bg) !important;
}
/* button style end*/
/* icon style start */
.icon_pink{
    color: var(--pink);
    font-size: 0.8em;  
}
.icon_gray{
    color: var(--gray);
    font-size: 0.8em; 
}
/* icon style start */
.location{
    position: relative;
}
.stuation{
    position: absolute;
    top: var(--space-2x);
    right: var(--space-3x);
}

.like{
    color: var(--wc-content-bg);
    border-radius: 50%;
    margin-top: 5px;
    padding: 10px;
    background-color: var(--wc-content-bg);
    transition: 300ms all;
}
.like:hover{
    background-color: var(--pink);
    transition: all 0.2s ease-in-out;
}
.like_icon{
    font-size: var(--space-3x);
    color: var(--black);
}
.style{
    padding: 10px;
    height: 600px;
    
}
.style:hover + li{
    box-shadow: 2px 2px 2px 2px var(--wc-secondary);
    transition: all 0.2s ease-in-out;
}

.hidden{
display: none;
}
