@import "general/general";
@import "common/common";
*{
    box-sizing: border-box;
}
#roadmap{
    width: $main-width;
    height:$main-height;
    background: $ghostwhite2;
    .roadmap-container{
        @include page;
        .roadmap-nav{
            @include nav-info;
            div{
                a{}
                h3{ @include h3}
            }
            button{@include nav-button }
        }
        .roadmap-main{
            width: $third-width;
            @include main;
            .header{
                h4{@include h4}
                span{@include body2}
            }
            .roadmap-main-item{
                width:350px;
                height:272px;
                .border-1{@include border-1;}
                .border-2{@include border-2;}
                .border-3{@include border-3;}
                .item-info{
                    @include flex-column; 
                    @include between;
                    margin-top: 10px;
                    width:350px;
                    height:272px;
                    background: #FFFFFF;
                    border-radius: 5px; 
                   .border-1{@include border-1;}
                   .border-2{@include border-2;}
                   .border-3{@include border-3;}
                    padding: 10px;
                    .icon-1{@include icon-1;}
                    .icon-2{@include icon-2;}
                    .icon-3{@include icon-3;} 
                    span{@include body2}
                    h4{@include h4}
                    p{}
                    .btn-1{@include btn-1}
                    .btn-2{@include btn-2}
                    .btn-3{@include btn-3}
                    div{
                       i{} 
                       a{}
                    }
                    div{
                        i{
                        width:18px ;
                        height:16px;
                        color:$lightgray;
                    }
                        span{}
                    }
                }
            }
        }
    }
}
