body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none; 
}
#element{
    width: 100%;
    height: 100vh; 
    background-color: #5b5bae;  
    border: 1px solid black;

}
.container{
    width: 1200px;
    height: 500px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.element-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
    width: 250px;
    margin: auto;
    text-align: center; 
    justify-content: center;
}
.element-item i{
    font-size: 50px;
    border: 3px solid white;
    border-radius: 50%;
    padding: 35px;
    color: white;

}
.element-item h1{
    font-size: 30px;
    font-weight: 100;
    color: white;
}
.element-item p{
    font-size: 15px;
    font-weight: 100;
    color: white;
    line-height: 20px;

}
.element-item button{
    text-align: center;
    width: 150px;
    height: 50px;
    padding: 15px 35px;
    border: none;
}
.element-item:hover button{
    background-color: #5b5bae;
    color: white;
}

.element-item:hover{
    width: 240px;
    background-color: darken( #5b5bae, 5%); 
}