body {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#element {
  width: 100%;
  height: 100vh;
}

.container {
  width: 1200px;
  height: 600px;
  margin: 100px auto;
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.element_items {
  position: relative;
  width: 300px;
  height: 320px;
  padding: 50px 40px;
  -webkit-box-shadow: 1px 1px 10px #9e9e9e;
          box-shadow: 1px 1px 10px #9e9e9e;
}

.element_items:hover i {
  color: white;
  border: 3px solid white;
}

.element_items:hover h1 {
  color: white;
}

.element_items:hover p {
  color: white;
}

.element_items:hover button {
  background-color: white;
  color: orange;
  font-weight: 100;
}

.element_items i {
  padding: 30px;
  border: 3px solid orange;
  border-radius: 50%;
  font-size: 50px;
  color: orange;
}

.element_items h1 {
  font-size: 30px;
}

.element_items p {
  font-size: 15px;
  color: #919191;
}

.element_items button {
  width: 150px;
  height: 50px;
  background-color: orange;
  color: white;
  border: none;
  margin-top: 30px;
}

.element_items::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  height: 0px;
  width: 100%;
  background-color: orange;
}

.element_items:hover::after {
  height: 100%;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  cursor: alias;
}
