#element{
    width: 100%;
    height: 100vh;
}
.container{
    width: $main-weight;
    height: $main-height;
    margin: $space-40x auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $space-2x;
    text-align: center;
}
.element_items{
    position: relative;
    width: $main-weight/4;
    height: $main-height/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding:$space-6x $space-6x;
}

.element_items h1{
    font-size: $space-7x;
    color: $secondary-color;
    font-weight: 900;
    margin-bottom: $space-6x;
}
.element_items p{
    font-size:$space-3x;
    color: $color-add;
    font-weight: 100;
    margin-bottom: $space-6x;
}
.element_items i{
    font-size: $space-9x;
    color: $main-color;
    margin-bottom: $space-6x;
}
.element_items button{
    width: $main-weight/8;
    height: $main-height/12;
    border-radius: $space-6x;
    border: none;
    color: white;
    margin-left: $space-16x;
    background-color: $main-color;
}
.element_items::before{
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 0%;
    height: 0%;
    border-bottom: 2px solid  transparent;
    border-right: 2px solid  transparent;
    transition: all .2s linear;  
}
.element_items:hover::before{
    width: 100%;
    height: 100%;
    border-color: $main-color;
    cursor: alias;
    
}
.element_items::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    border-top: 2px solid  transparent;
    border-left: 2px solid  transparent;
    transition: all .2s linear;
    box-sizing: border-box;
}
.element_items:hover::after{
    width: 100%;
    height: 100%;
    border-color:$main-color;
}
